*{
    box-sizing: border-box;
}

.body {
	font-family: "Trebuchet MS";
    margin: 0;
    background-color: #f1f1f1;
}
/* Style the header */
.header {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
img{
	align-content: left;
	height: 100px;
	width: 120px;
}
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: "Trebuchet MS";
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.side{
    float: left;
	 background-color: white;
	 width: 24.5%;
	 height: auto;
	 margin-left: 4px;
	 text-align: center;
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.middle{
	float: left;
	background-color: white;
	width: 50%;
	height: auto;
	margin-left : 5px;
	margin-bottom: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: left;
	padding: 10px; 

}
.table{
    float: left;
    background-color: white;
    width: 100%;
    height: auto;
    margin-left : 5px;
    margin-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    padding: 10px;
    bottom: 0; 

}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    text-align: center;
}
.side h1{
	color :red;
}
.side h3{
	color :red;
}
.middle p{
	font-family: "Trebuchet MS";
	font-size: 20px;
	color : red;
}
.form{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 2px;
}
input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 2px;
}
input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
#bank {
    padding: 5px 5px 5px 5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#bank td, #bank th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bank tr:nth-child(even){background-color: #f2f2f2;}

#bank tr:hover {background-color: #ddd;}

#bank th {
    padding-top: 12px; 
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
